:root {
    --color-omni: #FE0000;
}

.body {
    max-width: 700px;
    margin: 20px;
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.button-link {
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    color: white;
}

.button-link:hover {
    opacity: 0.6;
}

.secondary-button {
    font-size: 13px;
    background-color: #f39725;
    padding: 5px 12px;
    border-radius: 11px;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

.secondary-button:hover {
    background-color: #fab053;
}