.bottom-content {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    line-height: 21px;
    font-size: 14px;
}

.we-provide-section {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.contact-form {
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
}

.contact-form > :first-child {
    text-decoration: underline;
    margin-bottom: 3px;
}

@media (max-width: 420px) {
    .we-provide-section {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }
    .contact-form {
        margin-left: 0;
    }
}